<script type="module">
  import { createApp } from 'https://unpkg.com/petite-vue?module'
  // import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

  createApp({
    msg: "",
    name: "",
    age: "",

    async fetchData() {
      let json = {
        name: this.name,
        age: parseInt(this.age)
      }
      let response = await fetch(`api`, {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(json),
      })
      this.msg = await response.json()
    }
  }).mount()
</script>

<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fiber Demo</title>

  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    p {
      background-color: gray;
      padding: 2rem 1rem;
      font-size: 1.3rem;
    }
  </style>
</head>

<body>
  <div v-scope>
    <input type="text" placeholder="Name" v-model="name">
    <input type="text" placeholder="Age" v-model="age">
    <button @click="fetchData">Fetch</button>
    <p>{{ msg }}</p>
  </div>
</body>

</html>